
<form method="POST" action="/new">
    <h1>Message Us</h1>
    <label for="authorname">Author:</label><input name="authorname" id="authorname" type="text"></input>
    <label for="message">Message:</label><input name="message" id="message" type="text"></input>
<button type="submit">Submit</button>
</form>

