<html>
  <head>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1><%=title %></h1>
    <ul className="messages"
      <div><%=user %></div>
      <br />
      <div><%=text %></div>
      <br />
      <div><%=added %></div>
      <br />
      <a href="/">All Messages</a>
    </ul>
  </body>
</html>
